
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black
}

.header h1 {
  color: white;
}

.header h3 {
  color: grey;
  text-decoration: underline;

  
}

.section-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.section-2 {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  margin: auto;

}

.section-2 h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
 background-color: rgb(243, 240, 240);
 margin: auto;
 margin-bottom: 10px;
 width: 200px;
 height: 200px;
 border-radius: 2px;
 box-shadow: 2px 2px 0 0 rgb(99, 96, 96)
}

.gallery-img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 5px;
}

hr {
  margin: auto;
  width: 20%;
}

footer {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 10px;

}